# requirements.txt
requests
python-dotenv
huggingface_hub
transformers
numpy
torch
gtts
piper-tts
moviepy==1.0.3
Pillow==9.5.0
urllib3
elevenlabs
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
Pillow
python-slugify
pydub
edge-tts
