# Core
TTS==0.22.0
torch>=2.1.0,<2.2.0
torchvision>=0.16.0,<0.17.0
torchaudio>=2.1.0,<2.2.0

# Video
moviepy==1.0.3

# YouTube
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# Utils
python-dotenv
PyYAML